## FILES TO NOT TRACK

*.cab
*.env
*.lnk
*.log
*.msi
*.msm
*.msp
*.pids
*.seed
*.temp
*.tmp

.*.swp
._*

.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

build/
coverage/
devel/
dist/
lib-cov/
log/
logs/
pids/
temp/
tmp/

Desktop.ini
ehthumbs.db
Thumbs.db
